/*! Universal selector */
/*? Tum elementleri secer */
* {
  margin: 0;
  padding: 0;
  color: tomato;
  color: #123456;
  color: #bebe;
  color: #ece;
  color: #000;
  color: /* Color Theme Swatches in Hex */ .Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-1-hex {
    color: #034159;
 
}
img {
  width: 400px;
}

.images {
  width: 400px;

/* ?BORDER */
  border-color: #ece;
  border-width: 6px;
  border-style: solid;
  border-style: inset;

  
  border: 7px inset #bebe;
}


